table{
    table-layout: fixed;
    border:7px double var(--even);
}
th{
    background-color: var(--even);
    color: var(--uneven);
    text-align: center;
    width: 25px;
    height: 25px;
}

.even{
    background-color: var(--even);
    text-align: center;
}
.uneven{
    background-color: var(--uneven);
    text-align: center;
}

.black{
    color:var(--black);
    font-size: large;
    cursor: pointer;
}

.white{
    color:var(--white);
    font-size: large;
    cursor: pointer;
}

.white:hover{
    background-color: var(--selectWhite);
}

.black:hover{
    background-color: var(--selectBlack);
}