:root {
    /*colours*/
    --accentColour: #0062e3;/*#5C4033;*/
    --backgroundColour: white;
    --hoverColour: lightgray;
    --menuColour: #00BFFF; /*rgb(131, 131, 131);*/
    --textColour: black;
    --invertedTextColour: white;

    /*chess*/
    --even: black;
    --uneven: beige;
    --black: teal;
    --white: gold;
    --selectWhite: red;
    --selectBlack: navy;

    /*numbers*/
    --buttonHeight: 35px;
    --buttonWidth: 180;
    --menuFontSize: 16;
    --screenSwidth: calc( 100% - 32px);
}
