body {
    background-color: var(--accentColour);
    margin: 0px;
}

disclaimer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    align-items: baseline;
}

#body {
    width: var(--screenSwidth);
    height: 80vh;
    text-align: center;
    background-color: var(--backgroundColour);
    padding: 16px;
    border-top: 5px solid var(--hoverColour);
    border-bottom: 5px solid var(--hoverColour);
    overflow:auto;
    overflow-y: visible;
}

#body div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: baseline;
}

#time, #last_login{
    text-align: center !important;
}

h4 {
    margin-bottom: 0px;
}

.hidden{
    display: none !important;
}

.flex-col{
    display:flex !important;
    flex-direction: column !important;
}
.flex-col div{
    margin-bottom: 10px !important;
}